/* ------------------------------

   Styles for Bold Dream Studio

 ------------------------------ */
/* --------  Variables  -------- */
/* Break Points */
/*colors*/
/* --------  Reset  -------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   Modified by Liz Nix
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend, ol, ul,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* --------  customization  -------- */
/*RAW ELEMENT OVERRIDES*/
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.618;
  background: #f9fafc;
  color: #292222; }

h1, h2, h3 {
  margin-top: 1em;
  margin-bottom: .25em; }

h1, h3 {
  font-family: "Georgia", serif; }

h1 {
  font-size: 2rem; }

h2 {
  font-weight: 700;
  font-size: 1.618rem; }

h3 {
  font-size: 1.25rem; }

P {
  margin-bottom: 1em; }

ol {
  list-style: number; }

ul {
  list-style: disk; }

li {
  margin: 0 1.618em .618em;
  padding: 0;
  line-height: 1.618; }

section {
  margin-bottom: 2.336rem;
  padding: 0 1.168em; }

header {
  padding: 3em 1.618em; }

/* single class modifyier overrides */
.container {
  max-width: 63em;
  margin: 0 auto; }

.intro {
  padding: 3em 1.309em 5em;
  background: #e8ecf4; }

.advanced {
  font-weight: 600;
  color: #000;
  font-size: 1.309em; }

.intermediate {
  font-size: 1.155em; }

.novice {
  color: #4c4c4c; }

/* Utilities */
/*Mobile First Flex-Gird*/
.grid {
  display: flex;
  align-items: center; }

.grid.xs-full, .grid.sm-full, .grid.md-full {
  display: block; }

.col {
  flex: 1; }

/* Second Level Modified and widgets */
h2.branding span {
  font-weight: 500; }

.intro p {
  font-size: 1.15rem;
  padding-right: .618em; }

/* -------- Media Queries -------- */
@media (min-width: 420px) {
  .intro {
    padding-left: 3.236em;
    padding-right: 1.618em; }

  .grid.xs-full {
    display: flex; }

  .visible-xs {
    display: none; } }
@media (min-width: 768px) {
  .grid.sm-full {
    display: flex; }

  .sm-visible {
    display: none; } }

/*# sourceMappingURL=style.css.map */
