/* ------------------------------

   Styles for Bold Dream Studio

 ------------------------------ */
/* --------  Variables  -------- */
/* Break Points */
/* Modular Scale */
/*Adding Units*/
/*fonts*/
/*colors*/
/* Crayon box like color names */
/* Map to CSS Utility color names */
/* --------  Reset  -------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

   Modified by Liz Nix
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend, ol, ul,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------  customization  -------- */
/* Globals */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.618;
  background: #f9fafc;
  color: #292222;
  font-size: 16px;
}

h1, h2, h3 {
  margin-top: 1em;
  margin-bottom: .25em;
}

h1, h3 {
  font-family: "Kadwa", "Georgia", serif;
  font-size: 2em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.618rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 1em;
}

ol {
  list-style: number;
}

ul {
  list-style: disk;
}

li {
  margin: 0 1.618em 0.61805em;
  padding: 0;
  line-height: 1.618;
}

a {
  color: #0011a4;
}
a:hover {
  color: #d57c29;
}

img, iframe, embed {
  max-width: 100%;
}

section {
  margin-bottom: 3.236em;
  padding: 0 1.618em;
}

header {
  padding: 1.618em;
  margin-bottom: 0.61805em;
}

label {
  display: block;
  font-size: .9em;
  margin-left: 1.618em;
  font-weight: bold;
}

input, textarea {
  margin-top: 3px;
  padding: 0.61805em 0.809em;
}

footer {
  background: #292222;
  color: #f9fafc;
  padding: 1em;
  font-size: .9em;
}

.container {
  width: 100%;
  max-width: 63em;
  margin: 0 auto;
}

.btn, button {
  display: inline-block;
  min-width: 4.854em;
  color: white;
  background: #06025b;
  text-decoration: none;
  text-align: center;
  padding: 0.809em 1.618em;
  border-radius: 0.61805em;
  border: 1px solid #0011a4;
}
.btn:hover, button:hover {
  background: #f9fafc;
  color: #0011a4;
}

/* Utilities */
/*Mobile First Flex-Gird*/
.grid {
  display: flex;
  align-items: flex-start;
  justify-items: space-around;
}

.col {
  flex: 1;
}

.col-1-3 {
  width: 32%;
}

.col-2-3 {
  width: 65%;
}

.col-1-4 {
  width: 24%;
}

.col-3-4 {
  width: 74%;
}

.grid.xs-full, .grid.sm-full, .grid.md-full {
  display: block;
}
.grid.xs-full [class*=col-], .grid.sm-full [class*=col-], .grid.md-full [class*=col-] {
  width: 100%;
}

/*other utility classes*/
.xs-hidden {
  display: none;
}

.sm-hidden {
  display: none;
}

/* Modules and More  */
/* banner */
.branding {
  font-family: "Open Sans", sans-serif;
  color: #06025b;
  margin: 0;
  font-weight: 700;
  font-size: 2.427rem;
}
.branding span {
  font-weight: 400;
  color: #0011a4;
}

header h1 {
  font-family: "Kadwa", "Georgia", serif;
  margin-top: 0;
  font-size: 1.618rem;
  letter-spacing: -.0618em;
}

section:not(.intro) h1 {
  border-bottom: 1px solid #06025b;
  box-shadow: 0px 2px 0px #ab77af, 0px 3px 0px #0064fa;
}

/* intro */
.intro-wrapper {
  background: url(images/stars-small.jpg) top;
  background-size: cover;
  padding: 1.618em 0;
}

.intro {
  padding: 2.427em 1.2944em 4.854em;
  color: #06025b;
  border-left: 4px solid #06025b;
  border-bottom: 2px solid #ab77af;
  border-radius: 1.618em 0;
  border-bottom-right-radius: 25.888em 12.944em;
  background: rgba(228, 237, 252, 0.875);
}
.intro h2 {
  font-weight: 700;
  letter-spacing: -.0420em;
}
.intro p {
  font-size: 1.25rem;
  padding-right: 1.618em;
}
.intro a {
  font-size: 1.125rem;
}

/*services */
.services ul {
  margin-top: 1.618em;
}

/* Skills */
.skills .key {
  margin: 1.618em 0.61805em;
  padding-bottom: 1.618em;
  border-bottom-right-radius: 9.708em 4.854em;
  border-bottom: 1px solid #e2a369;
}
.skills .key:after {
  content: '';
  display: block;
  clear: both;
}
.skills .key h2 {
  font-size: 1rem;
  margin-top: 0;
  padding-top: 0;
  font-weight: normal;
}
.skills .key p {
  float: left;
  text-align: center;
}
.skills .key p, .skills .key h2 {
  line-height: 1;
  margin-bottom: 0.61805em;
  padding-left: 0.61805em;
  padding-right: 0.61805em;
}

.advanced {
  color: #06025b;
}

.intermediate {
  color: #3f71bc;
}

.novice {
  color: #855189;
}

/*works*/
.works-project .works-project-img-link {
  display: block;
  margin: 0 0 1.618em;
  max-width: 90%;
}
.works-project .works-project-img-link img {
  border: 1px solid #d7deeb;
  background: #fff;
  padding: 0.61805em;
  display: block;
}
.works-project .works-project-description {
  margin-bottom: 2.427em;
}

/*connect*/
.connect .connect-social {
  padding: 1.618em;
}
.connect .connect-social:after {
  content: '';
  display: block;
  clear: both;
}
.connect .connect-social li {
  float: left;
  list-style: none;
  padding-left: 0;
}
.connect input, .connect textarea {
  margin-left: 1.618em;
  width: calc(100% - 1.618em);
}
.connect button {
  margin-left: 1.618em;
}
.connect .connect-email {
  border-top: 1px solid #d7deeb;
  padding-top: 1.618em;
}
.connect .connect-email h2 {
  padding-bottom: 1em;
}

/* -------- Media Queries -------- */
@media (min-width: 420px) {
  .grid.xs-full {
    display: flex;
  }
  .grid.xs-full .col {
    flex: 1;
  }
  .grid.xs-full .col-1-3 {
    width: 32%;
  }
  .grid.xs-full .col-2-3 {
    width: 65%;
  }
  .grid.xs-full .col-1-4 {
    width: 24%;
  }
  .grid.xs-full .col-3-4 {
    width: 74%;
  }

  .xs-visible {
    display: none;
  }

  .xs-hidden {
    display: block;
  }

  .intro-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .intro {
    padding-left: 3.236em;
    padding-right: 1.618em;
  }
}
@media (min-width: 769px) {
  .grid.sm-full {
    display: flex;
  }
  .grid.sm-full .col {
    flex: 1;
  }
  .grid.sm-full .col-1-3 {
    width: 32%;
  }
  .grid.sm-full .col-2-3 {
    width: 65%;
  }
  .grid.sm-full .col-1-4 {
    width: 24%;
  }
  .grid.sm-full .col-3-4 {
    width: 74%;
  }

  .sm-visible {
    display: none;
  }

  .sm-hidden {
    display: block;
  }

  .intro-wrapper {
    background: url(images/stars-large.jpg) bottom fixed;
    background-size: cover;
    padding: 1.618em 0.61805em;
  }

  .intro h2 {
    font-size: 2.0225rem;
  }

  .services .key {
    margin-left: 1.618em;
    margin-right: 1.618em;
  }

  .skills .key p {
    padding-left: 1.618em;
    padding-right: 1.618em;
  }
}
@media (min-width: 63em) {
  .grid.md-full {
    display: flex;
  }
  .grid.md-full .col {
    flex: 1;
  }
  .grid.md-full .col-1-3 {
    width: 32%;
  }
  .grid.md-full .col-2-3 {
    width: 65%;
  }
  .grid.md-full .col-1-4 {
    width: 24%;
  }
  .grid.md-full .col-3-4 {
    width: 74%;
  }

  .intro-wrapper {
    padding: 1.618em 0;
  }

  .skills .key p {
    padding-left: 1.618em;
    padding-right: 3.236em;
  }
}

/*# sourceMappingURL=style.css.map */
